@font-face {
	font-family: 'CaviarDreams';
	src: url('../graphics/fonts/caviardreams/caviardreams.ttf') format('truetype'),
		 url('../graphics/fonts/caviardreams/caviardreams-woff.woff') format('woff'),
		 url('../graphics/fonts/caviardreams/caviardreams-eot.eot') format('eot');
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background: #292929;
	color: white;
	font-family: 'CaviarDreams', 'Helvetica';
	font-size: 26px;
	zoom: 88%;
}
header{
	position: absolute;
	background: #df6b07;
	height: 15%;
	width: 100%;
}
img {
	width: 100%
	height: auto;
}

a:link {
    color: white;
	text-decoration: none;
}
a:visited {
    color: white;
	text-decoration: none;
}
a:hover {
    color: #def;
	text-decoration: none;
}
a:active {
    color: white;
	text-decoration: none;
}
input[type="button"], input[type="submit"]{
	outline: none;
	font-family: 'CaviarDreams';
	font-weight: bold;
}
div[id^="i"]:active , input[type="button"]:active, input[type="submit"]:active, #cancel:active, #buttNext:active, #buttBack:active, #reset:active{
	transform: scale(0.99,0.99);
}
ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

label > input{ 
	display: none;
}
label > input + h2{ 
	border:5px solid white;
	margin: 12px 40px 0 60px;
	width: 130px;
	height: 130px;
	border-radius: 100px;
	display: inline-block;
}
label > input:checked + img{ 
	background-color: rgba(255,255,255,0.2);
}
label > input:checked + h2{ 
	border:5px solid #df6b07;
	color: #df6b07;
}
td {
	width: 130px;
	height: 130px;
	vertical-align: bottom;
}
.tableTitle td{
	height: 50px;
}
.title {
	text-align: center;
	position: relative;
	top: -18%;
}
.title img {
	width: 200px;
	height: auto;
}
.page{
	position: absolute;
	top: 13%;
	height: 100%;
	width: 100%;
	visibility: hidden;
}
.warn {
	margin-top: 40px;
	width: 100px;
	height: auto;
}
#instruction {
	position: relative;
	margin: 0 auto;
	top: 20%;
	width: 80%;
	height: 60%;
}
#instruction img {
	display: block;
	margin: 0 auto;
	padding: 50px
}
.button {
	text-transform: capitalize;
	text-align: center;
	background: none;
	border: 2px solid white;
	color: white;
	width: 300px;
	height: 70px;
	font-size: 34px;
}
#startWrapper {
	text-align: center;
	position: relative;
	top: 22%;
}
#confirmWrapper {
	position: fixed;
	top: 85%;
	left: 50%;
	margin-left: -150px;
}
#cancel {
  position: absolute;
  left:85%;
  top: 15%;
}
#cancel img {
	width: 180px;
	height: auto;
}

div[id^="radial_container"] img {
	width: 200px;
	height: auto;
}
#buttNext {
	position: absolute;
	top: 15%;
	left: 85%;
}
#buttBack {
	position: absolute;
	top: 15%;
	left: 5%;
}
#buttReset {
	position: absolute;
	bottom: 40%;
	left: 85%;
}
#buttReset img{
	width: 300px;
	height: auto;
}
#your_fuse {
	position: relative;
	top: 80%;
	width: 80%;
	margin: 0 auto;
	visibility: visible;
	height: 20%;
}
.fuse_list {
	position: relative;
	left: 23.5%;
	width: 55%;
}
.fuse_text{
	position: absolute;
	top: 10%;
	font-size: 36px;
}

.plus {
	position: absolute;
	top: -30%;
	font-size: 50px;
	margin-left: -12px;
}

.ingredient{
	display:none;
}
#message {
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: 15%;
	width: 80%;
	height: 60%;
	padding: 10px;
}
#drinkname {
	display: inline-block;
	margin: 0 auto;
	height: 20px;
}
#nameButton{
	position: absolute;
}
#nameButton img {
	width: 17px;
	height: 17px;
}
#winFuse, #newFuse {
	position: relative;
	margin-left: -40px;
}
#newFuse  .plus {
	position: absolute;
	top: 25%;
	margin-top: 10px;
	margin-left: -10px;
}

#winFuse .plus{
	position: absolute;
	top: 0%;
	margin-top: 10px;
	margin-left: -12px;
}
.beaker {
	padding-left: 20px;
}
.circle{
	position: absolute;
	font-size:26px;
	text-align:center;	
	top: 25%;
	left: 10%;
	width: 200px;
	font-size: 34px;
}
#circleWrap{
	position: absolute;
	top: 22%;
	left: 43%;
}
#circleWrap img {
	width: 250px;
	height: 250px;
}
#barList {
	background: url("../graphics/Icons/bar.png") center no-repeat;
	height: 320px;
}
#drinkWrapper{
	position: relative;
	top: 0%;
	margin: 0 auto;
	border: 1 grey solid;
	width: 80%;
}
.popupbox {
	width:650px;
	height:500px;
	display: none;
	background: #df6b07;
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	text-align:center;
}
.popupFuse {
	padding-top: 50px;
	width:100%;
	height:90%;
	display: none;
	background: #292929;
	position: fixed;
	top: 15%;
	z-index: 999;
	text-align:center;
}
.popupConfirm {
	width:100%;
	height:90%;
	background: #292929;
	position: fixed;
	top: 15%;
	z-index: 999;
	text-align:center;
	font-size: 24px;
}
.popupConfirm h3{
	padding-top: 80px;
}
.popupText {
	padding: 20px 45px;
	font-size: 38px;
}
.popupButton {
	border: 2px solid white;
	background: none;
	color: white;
	width: 30%;
	height: 20%;
	margin: 0 20px;
	border-radius: 10px;
	font-size: 38px;
}
.popupNewButton {
	border: 2px solid white;
	background: none;
	color: white;
	width: 20%;
	height: 10%;
	margin: 0 20px;
	border-radius: 10px;
	font-size: 26px;
}
.popupCon {
	border: 2px solid white;
	background: none;
	padding: 10px;
	color: white;
	margin: 0 20px;
	border-radius: 10px;
	font-size: 26px;
}
#fade {
	display: none;
	background: #FFF;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .50;
	z-index: 9999;
}
#fade2 {
	background: #FFF;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .50;
	z-index: 9999;
	filter: alpha(opacity=80);
}
.kukareact {
	position: absolute;
	top: -10%;
	left: 100%;
}