#radial_container,#radial_container2,#radial_container3,#radial_container4 { 
  position:relative; 
  left: -6%;
  top: 26%;
  height: 0; 
  width: 0;
  text-align:center;
  margin: 0 auto;
}

.radial_div_item.active img, label{
	visibility: hidden;
}